html{background-color: rgb(29, 29, 37); padding: 0; margin: 0; height: 100%;}
body{height: 100%;}
header,main{margin-left: 65px; margin-right: 65px;}
header{
    border-bottom: 2px solid rgb(70, 0, 0);
    height: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(228, 215, 215);
    font-size: xx-large;
    padding: 9px;
    text-shadow: 4px 4px 2px rgb(70, 0, 0);
}
main{
    background-color: rgba(15, 15, 15, 0.445);
    height: fit-content;
    box-shadow: 0px 0px 9px rgb(70, 0, 0);
}
h3{
    color: rgb(228, 215, 215);
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    margin: 0px; 
    margin-left: 15px;
}
.Nominee{
    height: fit-content;
    overflow: hidden;
}
.Nominee > p{
    margin: 0;
    margin-left: 60px;
    color: white;
}
.Info {
    position: relative;
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    height: 300px;
    color: white;

    transition: background-size 0.3s ease-in-out;
}
.Info::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.938) 20%,
        rgba(0, 0, 0, 0.616) 50%,
        rgba(0,0,0,0.0) 100%
    );
    z-index: 0;
}
.Info > * {
    position: relative;
    z-index: 1;
}
.Info:hover {
    background-size: 115%;
}
.Links>a{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px 5px 5px 5px;
}
.Links>.Steam{background-color: rgb(68, 56, 182);}
.Links>.PSN{background-color: rgb(80, 183, 197);}
.Links>.Xbox{background-color: rgb(21, 105, 21);}
.Links>.Nintendo{background-color: rgb(224, 42, 42);}
.Nominee.active {
    background-color: rgba(120, 0, 0, 0.5);
    transition: background-color 0.3s;
}
#counter {
    font-size: medium;
    color: rgb(200, 200, 200);
}
#closeAll {
    margin: 10px;
    padding: 8px 15px;
    background-color: rgb(70, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}